<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <img class="navbar-brand" src="assets/hackphslogo2021.svg" width="69" alt="">
    <a class="navbar-brand">hackPHS</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="#about-section">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#faq-section">FAQ</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#schedule-section">Schedule</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#sponsors-section">Sponsors</a>
            </li>

            <li class="nav-item">
                <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" role="buttom" href="#" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Past years
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="http://2020.hackphs.tech/">2020</a>
                        <a class="dropdown-item" href="https://2019.hackphs.tech/">2019</a>
                        <a class="dropdown-item" href="https://2018.hackphs.tech/">2018</a>
                    </div>
                </div>
            <li>


        </ul>
    </div>

</nav>