
<div class="big-wrapper" [style.height.px]="totalImageHeight">

    <div class="wrapper">

        <div id="for-sponsors">
            <img class="img" id="topBg" src="/assets/top-final.png"/>
            
            <img class="img" id="repeatingBegin" src="/assets/repeating/rp-begin.png"/>
            
            <!-- Just to calcuate how our HTML will look at the height of a repeating section -->
            <img class="img" id="testRepeatingBg" src="/assets/repeating/rpv1.png"/>

            <div *ngFor="let urls of finalImagesArray;">
                <img class="img" [src]="urls"/>
            </div>

            <img class="img" id="repeatingEnd" src="/assets/repeating/rp-end.png"/>

            <img class="img" id="bottomBg" src="/assets/bottom-final.png"/>
        </div>

    </div>
    
    <div class="wrapper" [style.top.px]="sponsorsHeight">
        <ng-content select="[sponsors]"></ng-content>
    </div>
    
    <div class="wrapper" id="content">
        <ng-content select="[content]"></ng-content>
    </div>
    
    
</div>
