.big-wrapper{
    overflow: hidden;
    position: relative;
}
.img{
    display: block;
    width: 100vw; 
    height: auto;
}

.wrapper{
    top: 0px;
    position: absolute;
}

.sponsors-class{
    margin-left: 60%;
}