<div class="fixed-top">
    <app-header></app-header>
</div>


<div [ngStyle]="{backgroundImage:'url(./../../../assets/Top_Bottom_Combined.png)'}" class="myBg">
    <div class="title_class">
        <!-- Title Image -->
        <div class="neonTitle">
            <img class="img-fluid mt-5 mx-auto center-block" src="./../../../assets/hackPHS_neon.png" alt="">
        </div>

        <!-- Register Button -->
        <app-register-frontpage></app-register-frontpage>
        
        <!-- About Section -->
        <app-about-section></app-about-section>

        <!-- FAQ Section -->        
        <app-faq-section></app-faq-section>

    </div>
</div>

