<div class="fixed-top ">
    <app-header></app-header>
</div>


<app-background>
    <div class="title_class">
        <!-- Title Image -->
        <div class="neonTitle">
            <img class="img-fluid mt-5 mx-auto center-block" src="assets/hackPHS_neon.png" alt="">
        </div>

        <!-- Register Button -->
        <app-register-frontpage></app-register-frontpage>


        <!-- About Section -->
        <div class="anchor">
            <app-about-section></app-about-section>
        </div>

        <!-- FAQ Section -->
        <div class="anchor">
            <app-faq-section></app-faq-section>
        </div>

        <!-- Schedule Section -->
        <div class="anchor">
            <app-schedule></app-schedule>
        </div>
    </div>
</app-background>

<!-- Sponsors Section -->

<app-sponsors></app-sponsors>

<!-- Sponsors Section -->

<footer class="container-fluid text-center">
    
    <!-- Member Carousel -->
    <app-member-carousel></app-member-carousel>
    <a href="mailto:team@hackphs.tech" style="font-size: 16px; color: #007BFF;">Questions? Contact us!</a>


    <p style="margin-bottom: 0px;">© hackPHS 2021. All Rights Reserved.</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a target="_blank" href="https://mlh.io/privacy">Privacy</a>
        </li>
        <li class="list-inline-item">
            <a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code Of Conduct</a>
        </li>
    </ul>
</footer> 
