<div class="card text-center mx-auto" id="schedule-section">
    <div class="card-header">
        <h1>Schedule</h1>
    </div>
    <div class="card-body">

        <table class="table">
            
            <thead>
                <tr>
                    <th id="day-headers">Saturday 11/7</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            
            
            <tbody>
                <tr>
                    <th scope="row">9:30 AM</th>
                    <td>Server opens for online hackers, Check-in opens for in-person hackers</td>
                </tr>
                <tr>
                    <th scope="row">10:30 AM</th>
                    <td>Opening Ceremony</td>
                </tr>
                <tr>
                    <th scope="row">11:00 AM</th>
                    <td>Hacking Starts</td>
                </tr>
                <tr>
                    <th scope="row">11:00 AM</th>
                    <td>Team Building</td>
                </tr>
                <tr>
                    <th scope="row">11:30 AM</th>
                    <td>Intro to Python</td>
                </tr>
                <tr>
                    <th scope="row">12:30 PM</th>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <th scope="row">1:00 PM</th>
                    <td>Intro to C++</td>
                </tr>
                <tr>
                    <th scope="row">2:00 PM</th>
                    <td>Intro to Java</td>
                </tr>
                <!-- First ten done -->
                <tr>
                    <th scope="row">3:00 PM</th>
                    <td>Beginner's Challenge</td>
                </tr>
                <tr>
                    <th scope="row">5:00 PM</th>
                    <td>Intro to Web Development</td>
                </tr>
                <tr>
                    <th scope="row">5:30 PM</th>
                    <td>Dinner Break</td>
                </tr>
                <tr>
                    <th scope="row">6:00 PM</th>
                    <td>Kahoot</td>
                </tr>
                <tr>
                    <th scope="row">6:30 PM</th>
                    <td>Building Challenge</td>
                </tr>
                <tr>
                    <th scope="row">7:00 PM</th>
                    <td>Zoom Photo Booth Open</td>
                </tr>
                <tr>
                    <th scope="row">7:30 PM</th>
                    <td>3D Design and Printing</td>
                </tr>
                <tr>
                    <th scope="row">8:00 PM</th>
                    <td>Jeopardy</td>
                </tr>
                <tr>
                    <th scope="row">9:00 PM</th>
                    <td>Women in STEM</td>
                </tr>
                <tr>
                    <th scope="row">9:30 PM</th>
                    <td>Kahoot</td>
                </tr>
                <tr>
                    <th scope="row">10:00 PM</th>
                    <td>Chess Tournament</td>
                </tr>
                
                <!-- End of Saturday -->
                
                <thead>
                    <tr>
                        <th id="day-headers">Sunday 11/8</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="row">10:30 AM</th>
                    <td>Breakfast</td>
                </tr>
                <tr>
                    <th scope="row">11:00 AM</th>
                    <td>Submissions close</td>
                </tr>
                <tr>
                    <th scope="row">11:15 AM</th>
                    <td>Judging Begins</td>
                </tr>
                <tr>
                    <th scope="row">12:00 PM</th>
                    <td>Q&amp;A with Organizers</td>
                </tr>
                <tr>
                    <th scope="row">12:15 PM</th>
                    <td>Judging Ends</td>
                </tr>
                <tr>
                    <th scope="row">12:30 PM</th>
                    <td>Closing Ceremony</td>
                </tr>
            </tbody>
            
            <!-- Sunday ends -->
            
            
        </table>

    </div>
</div>