<div class="card text-center mx-auto" id="schedule-section">
    <div class="card-header">
        <h1>Schedule</h1>
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            
            <tbody>
                <p>Coming soon</p>
                <!--
                <tr>
                    <th scope="row">9:30 AM</th>
                    <td>Server Opens</td>
                </tr>
                <tr>
                    <th scope="row">10:30 AM</th>
                    <td>Opening Ceremony</td>
                </tr>
                <tr>
                    <th scope="row">11:00 AM</th>
                    <td>Hacking Begins</td>
                </tr>
                <tr>
                    <th scope="row">11:00 AM</th>
                    <td>Team Building</td>
                </tr>
                <tr>
                    <th scope="row">11:30 AM</th>
                    <td>Intro to Python</td>
                </tr>
                <tr>
                    <th scope="row">1:00 PM</th>
                    <td>How to get an internship</td>
                </tr>
                <tr>
                    <th scope="row">2:00 PM</th>
                    <td>Intro to Java</td>
                </tr>
                <tr>
                    <th scope="row">3:00 PM</th>
                    <td>Beginner's Challenge</td>
                </tr>
                <tr>
                    <th scope="row">3:00 PM</th>
                    <td>Build a Cloud-Connected AR/VR App in 15 minutes or less</td>
                </tr>
                <tr>
                    <th scope="row">4:00 PM</th>
                    <td>How to start a Hackathon</td>
                </tr>
                <tr>
                    <th scope="row">5:00 PM</th>
                    <td>Intro to React</td>
                </tr>
                <tr>
                    <th scope="row">6:00 PM</th>
                    <td>CTF Presented by U.S. Air Force</td>
                </tr>
                <tr>
                    <th scope="row">6:30 PM</th>
                    <td>Bob Ross M.S. Paint with MLH</td>
                </tr>
                <tr>
                    <th scope="row">7:00 PM</th>
                    <td>Zoom Photo Booth Open</td>
                </tr>
                <tr>
                    <th scope="row">7:30 PM</th>
                    <td>3D Design/Printing</td>
                </tr>
                <tr>
                    <th scope="row">8:00 PM</th>
                    <td>Spyfall</td>
                </tr>
                <tr>
                    <th scope="row">8:30 PM</th>
                    <td>Github</td>
                </tr>
                <tr>
                    <th scope="row">9:00 PM</th>
                    <td>Intro to Arduino/Robotics</td>
                </tr>
                <tr>
                    <th scope="row">9:30 PM</th>
                    <td>Kahoot</td>
                </tr>
                <tr>
                    <th scope="row">10:00 PM</th>
                    <td>Chess Tournament</td>
                </tr>
                <tr>
                    <th scope="row">11:00 PM</th>
                    <td>Virtual Scavenger Hunt</td>
                </tr>
                <tr>
                    <th scope="row">12:30 AM</th>
                    <td>Mafia</td>
                </tr>
                <tr>
                    <th scope="row">1:00 AM</th>
                    <td>Skribbl</td>
                </tr>
                <tr>
                    <th scope="row">7:00 AM</th>
                    <td>Mediation/Yoga</td>
                </tr>
                <tr>
                    <th scope="row">11:00 AM</th>
                    <td>Submissions Close</td>
                </tr>
                <tr>
                    <th scope="row">11:15 AM</th>
                    <td>Judging Begins</td>
                </tr>
                <tr>
                    <th scope="row">1:00 PM</th>
                    <td>Judging Ends</td>
                </tr>
                <tr>
                    <th scope="row">1:00 PM</th>
                    <td>Q&amp;A with Organizers</td>
                </tr>
                <tr>
                    <th scope="row">1:30 PM</th>
                    <td>Closing Ceremony</td>
                </tr>
                -->
            </tbody>

        </table>

    </div>
</div>