<div class="card text-center mx-auto" id="about-section">
    <div class="card-header">
        <h1>About</h1>
    </div>
    <div class="card-body">
        
        <div class="about-what">
            <h3>What is hackPHS?</h3>
            <p>
                hackPHS hosts over 300 high school students from across New Jersey to collaborate,
                innovate, and create in a 24-hour, student organized hackathon based at Princeton
                High School. Whether you're a complete beginner or an experienced hacker, hackPHS
                will have something for you!
            </p>
        </div>
        
        <div class="about-when-where">
            <h3>When and Where is hackPHS?</h3>
            <p>TBD. Based on the COVID-19 situation, hackPHS will either be in person, hybrid, or fully online.
                 More information will be released as we get closer to the event.
            </p>
        </div>
        
        <div class="about-pay">
            <h3>Who pays for all of this?</h3>
            <p>
                hackPHS is completely free to everyone, thanks to our amazing sponsors!
            </p>
        </div>
        
        <div class="about-what-is-hackathon">
            <h3>What is a hackathon?</h3>
            <p>
                Hackathons are where creative and enthusiastic people come together to build awesome 
                projects in a single all-nighter. With awesome workshops and incredible prizes, hackers
                 will learn about new tech, build innovative solutions to real-world problems, and share 
                 their creation with the community, all in one event. If you are looking for a competition,
                  a place to meet fellow hackers, or even just a place to learn how to code, hackathons are
                   for you. If you want to learn more, see the MLH Hackathon FAQ.
            </p>
        </div>

    </div>

</div>