<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner w-75 mx-auto">
        <div class="carousel-item active" data-interval="1000000">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Tech/Design Team</h5>
                    <div class="d-inline" style="padding: 5px;">

                        <!-- Steve Modal -->
                        <a href="#steve-modal" data-toggle="modal" data-target="#steve-modal">
                            <img class="steve" src="assets/teammembers/Tech_design/Steve.jpg" alt="">
                        </a>
                        <div class="modal fade" id="steve-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Body
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Steve Modal -->

                        <!-- Connor Modal -->
                        <a href="#connor-modal" data-toggle="modal" data-target="#connor-modal">
                            <img class="connor" src="assets/teammembers/Tech_design/connor.JPG" alt="">
                        </a>
                        <div class="modal fade" id="connor-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Body
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Connor Modal -->
                        
                        <!-- Arunima Modal -->
                        <a href="#arunima-modal" data-toggle="modal" data-target="#arunima-modal">
                            <img class="arunima" src="assets/teammembers/Tech_design/arunima.jpg" alt="">
                        </a>
                        <div class="modal fade" id="arunima-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Body
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Arunima Modal -->

                        <!-- Julie Modal -->
                        <a href="#Julie-modal" data-toggle="modal" data-target="#julie-modal">
                            <img class="julie" src="assets/teammembers/Tech_design/julie.jpg" alt="">
                        </a>
                        <div class="modal fade" id="Julie-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Body
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Julie Modal -->

                        <!-- Emily Modal -->
                        <a href="#emily-modal" data-toggle="modal" data-target="#emily-modal">
                            <img class="emily" src="assets/teammembers/Tech_design/emily.jpg" alt="">
                        </a>
                        <div class="modal fade" id="Eemily-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Body
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Emily Modal -->

                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item" data-interval="1000000">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Outreach</h5>
                    <div class="d-inline" style="padding: 5px;">
                        <img src="assets/teammembers/Outreach/frankie.jpg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Outreach/Ruchira.jpeg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Outreach/pranav.jpg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Outreach/Rachel.jpg" class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item" data-interval="1000000"> 

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Logistics</h5>
                    <div class="d-inline" style="padding: 5px;">
                        <img src="assets/teammembers/Logistics/Shrey.jpg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Logistics/amanda.JPG" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Logistics/bella.jpeg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Logistics/chrisb.PNG" class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item" data-interval="1000000"> 

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Finance</h5>
                    <div class="d-inline" style="padding: 5px;">
                        <img src="assets/teammembers/Finance/chris.jpg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Finance/andre.JPG" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Finance/christina.jpg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Finance/philip.jpg" class="img-thumbnail img-responsive">
                        <img src="assets/teammembers/Finance/Debolina.jpg" class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>