<p style="color: #FFFFFF4D;">Wanna meet someone? Click on their image!</p>
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner w-75 mx-auto">

        <!-- tech/design -->
        <div class="carousel-item active" data-interval="1000000">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Tech/Design Team</h5>
                    <div class="d-inline" style="padding: 5px;">

                        <!-- Steve Modal -->
                        <a href="#steve-modal" data-toggle="modal" data-target="#steve-modal">
                            <img class="steve" src="assets/teammembers/Tech_design/Steve.jpg" alt="">
                        </a>
                        <div class="modal fade" id="steve-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Steve Xing</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Allo! I’m Steve, and I’ll be helping out with organizing the Tech side of the hackathon this year. I lead an Algo Club with my friends(join it now!), and also do maths stuff. I play guitar out of school. I do Texan/Oklahom-ian impressions just as well as I code(verified by 2 people who’ve heard it, catch me in the wild doing it though). I very much hope you enjoy your hackathon this year(and please treat the website nicely, thanks in advance).
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Steve Modal -->

                        <!-- Connor Modal -->
                        <a href="#connor-modal" data-toggle="modal" data-target="#connor-modal">
                            <img class="connor" src="assets/teammembers/Tech_design/connor.JPG" alt="">
                        </a>
                        <div class="modal fade" id="connor-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Connor Stewart</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Greetings, I’m Connor and I’m a junior at PHS and one of the coders on the Design/Tech team. In my free time I like to work with computers, and I’m also very interested in both chemistry and physics. I’m in several clubs at PHS such as computers and robotics club, key club, biotechnology club, and science bowl. Physics and math are my favorite subjects in school and I believe they unlock the secrets to the universe. I also enjoy playing jazz on the side and am active in the band program at PHS (and I’m unfortunately often labeled as a “band kid”). I hope you enjoy this year’s Hackathon!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Connor Modal -->
                        
                        <!-- Arunima Modal -->
                        <a href="#arunima-modal" data-toggle="modal" data-target="#arunima-modal">
                            <img class="arunima" src="assets/teammembers/Tech_design/arunima.jpg" alt="">
                        </a>
                        <div class="modal fade" id="arunima-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Arunima Suri</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hey!! I’m Arunima (my friends call me Nima), and I am a junior at PHS. I am one of the directors for hackPHS this year, specifically for design/tech, but last year I was a logistics organizer. Outside of coding, I enjoy baking, volunteering, playing golf, and watching tv. After 17 seasons of Grey’s Anatomy, I would like to consider myself a doctor but probably don’t come to me if you have any medical problems:) I am so excited to see all of you this year at hackPHS, and I hope we can get back to normal. See you all in the fall!! 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Arunima Modal -->

                        <!-- Julie Modal -->
                        <a href="#julie-modal" data-toggle="modal" data-target="#julie-modal">
                            <img class="julie" src="assets/teammembers/Tech_design/julie.jpg" alt="">
                        </a>
                        <div class="modal fade" id="julie-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Julie Liu</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hello! I’m Julie and this is my first year helping to organize hackPHS. I’ll be helping with website and merch design on the Design/Tech team. Besides working on this year’s hackathon, I like to paint/draw/do other miscellaneous art-related things, watch horror movies (as I’m writing this I just watched A Quiet Place II), occasionally study math/bio, and water my plants of which I have too many. I’m looking forward to hackPHS since it’s a new experience for me, and I hope you all enjoy it too!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Julie Modal -->

                        <!-- Emily Modal -->
                        <a href="#emily-modal" data-toggle="modal" data-target="#emily-modal">
                            <img class="emily" src="assets/teammembers/Tech_design/emily.jpg" alt="">
                        </a>
                        <div class="modal fade" id="emily-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Emily Qian</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hey! I‘m Emily and a junior at PHS. I am part of the Design/Tech team (the design side) for my first year as an organizer of hackPHS! Outside of hackPHS, I like to draw, dance (although not very good), play clarinet, and play golf. I’m involved in several school clubs: Math Team, The Tower, The Ivy, (and also the band program). In my free time, I enjoy reading, watching movies, and listening to music (pop+kpop). Strangely, I am attracted to all the beautiful things in the world and I love kpop, food, and tv dramas!! Looking forward to meeting everyone at this year’s hackathon!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Emily Modal -->

                    </div>
                </div>
            </div>
        </div>
        <!-- tech/design -->

        <!-- Outreach -->
        <div class="carousel-item" data-interval="1000000">

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Outreach</h5>
                    <div class="d-inline" style="padding: 5px;">

                        <!-- Frankie Modal -->
                        <a href="#frankie-modal" data-toggle="modal" data-target="#frankie-modal">
                            <img class="frankie" src="assets/teammembers/Outreach/frankie.jpg" alt="">
                        </a>
                        <div class="modal fade" id="frankie-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Francesca Gamio</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! I’m Frankie and I’m a junior at PHS. This year will be my first helping out with hackphs outreach. Outside of hackPHS, I both row and swim competitively, I am in the Cornerhouse leadership program, and I also teach swim lessons. I am super interested in medicine and the sister sciences. In my free time, I like drawing and reading, as well as calligraphy. I often spend way too much time organiziing my notes rather than actually reading them :)  I hope you enjoy what this team has in store this year!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Frankie Modal -->

                        <!-- pranav Modal -->
                        <a href="#pranav-modal" data-toggle="modal" data-target="#pranav-modal">
                            <img class="pranav" src="assets/teammembers/Outreach/pranav.jpg" alt="">
                        </a>
                        <div class="modal fade" id="pranav-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Pranav Guhathakurta</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! I’m Pranav, a senior and member of the outreach team for hackPHS. At last year’s event I taught an introductory course on Java fundamentals and held a chess tournament at one of our great workshops. I also run the Hackathons twitter account, @theHackPhs (go follow!). In school, outside of hackPHS, I’m actively involved in Quant Club, Latinos Unidos, and National Economics Challenge. In my free time I enjoy playing soccer, watching documentaries, and eating pho! I look forward to meeting you all at this year’s hackPHS 2021!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- pranav Modal -->
                        
                        <!-- Rachel Modal -->
                        <a href="#rachel-modal" data-toggle="modal" data-target="#rachel-modal">
                            <img class="rachel" src="assets/teammembers/Outreach/Rachel.jpg" alt="">
                        </a>
                        <div class="modal fade" id="rachel-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Rachel Guhathakurta</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! My name is Rachel! This will be my first year as an organizer and I am super excited to be a part of the outreach team. I am a SiSTEM officer and a part of the PHS Math Team. While I do love every letter in “STEM” the T has a special place in my heart. When I’m not programming or doing math, I play soccer and play the flute. As a pen barterer, nothing beats a smooth scribble, so if your stationery game is strong come prepared with a pen and an appraisal. See you there! 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Rachel Modal -->

                        <!-- Ruchira Modal -->
                        <a href="#ruchira-modal" data-toggle="modal" data-target="#ruchira-modal">
                            <img class="ruchira" src="assets/teammembers/Outreach/Ruchira.jpg" alt="">
                        </a>
                        <div class="modal fade" id="ruchira-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Ruchira Banerjee</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hey! I’m Ruchira and I’m this year’s Director of Outreach!! I’m super excited for hackPHS this year and can’t wait for you all to see our hard work. Outside of hackPHS, I learn Indian classical dance and started PHS Bollywood Club (aka the best club ever). Other than that I help lead the middle school tutoring program, am the co-president of SiSTEM, and am on the Teen Advisory Board for the Princeton Public Library. In my free time, I love to upcycle and make clothes from scratch, and you can even follow my sewing account RuchedbyRuch on Instagram. See you all soon! :)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Ruchira Modal -->

                    </div>
                </div>
            </div>

        </div>
        <!-- Outreach -->
        
        <!-- Logistics-->
        <div class="carousel-item" data-interval="1000000"> 

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Logistics</h5>
                    <div class="d-inline" style="padding: 5px;">

                        <!-- Amanda Modal -->
                        <a href="#amanda-modal" data-toggle="modal" data-target="#amanda-modal">
                            <img class="amanda" src="assets/teammembers/Logistics/amanda.JPG" alt="">
                        </a>
                        <div class="modal fade" id="amanda-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Amanda Sun</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Hello! I’m Amanda and I am a sophomore. This will be my first year as an organizer for hackPHS. I’ll be on the logistic team. Other than this, I am on the debate team, I play oboe in the Orchestra, and I like to read and write poetry. I am also slowly but surely working my way through all of Christopher Nolan’s films. Tenet makes absolutely no sense and I would appreciate it if you could explain it to me.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Amanda Modal -->

                        <!-- bella Modal -->
                        <a href="#bella-modal" data-toggle="modal" data-target="#bella-modal">
                            <img class="bella" src="assets/teammembers/Logistics/bella.jpeg" alt="">
                        </a>
                        <div class="modal fade" id="bella-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Bella Cui</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hey! I’m Bella and I’m a junior at PHS. This is my first year working with the logistics team for hackPHS. Outside of hackPHS, I am in several clubs like Math Team, the Tower and I also play the cello in the Orchestra. In my free time, I also love playing golf and learning different languages. I look forward to meeting you and hope you enjoy your hackathon this year!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bella Modal -->
                        
                        <!-- chrisb Modal -->
                        <a href="#chrisb-modal" data-toggle="modal" data-target="#chrisb-modal">
                            <img class="chrisb" src="assets/teammembers/Logistics/chrisb.jpg" alt="">
                        </a>
                        <div class="modal fade" id="chrisb-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chris Bao</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! I’m Chris, and I’m a junior at PHS. For the past two years, I’ve been part of the logistics team, and this year I’m also a director. Outside of hackPHS, I am a member of the debate team and fencing team, as well as an editor for the school newspaper. In my free time I enjoy reading and  procrastinating on my work. I don’t really have any quirky facts so hope you had fun reading this boring profile :)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chrisb Modal -->

                        <!-- Shrey Modal -->
                        <a href="#shrey-modal" data-toggle="modal" data-target="#shrey-modal">
                            <img class="shrey" src="assets/teammembers/Logistics/Shrey.jpg" alt="">
                        </a>
                        <div class="modal fade" id="shrey-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Shrey Khetan</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! My name is Shrey, and I am a sophomore at PHS. This is going to be my first year being part of the logistics team and I am very excited to help organize the event. I am part of the computer robotics team and love to do different things involving STEM. I also like to play the clarinet. Also, I’m a huge fan of Marvel’s shows/movies and always down for a conversation about them.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Shrey Modal -->

                    </div>
                </div>
            </div>

        </div>
        <!-- Logistics-->

        <!-- Finance -->
        <div class="carousel-item" data-interval="1000000"> 

            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Finance</h5>
                    <div class="d-inline" style="padding: 5px;">

                        <!-- andre Modal -->
                        <a href="#andre-modal" data-toggle="modal" data-target="#andre-modal">
                            <img class="andre" src="assets/teammembers/Finance/andre_square.jpg" alt="">
                        </a>
                        <div class="modal fade" id="andre-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Andre Penn</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi, I’m Andre. I'm a Junior at PHS and this is my second year on the finance team of hackPHS. I'm really excited to help organize hackPHS and make it the best event that it can be! Outside of  hackPHS I'm on the Debate team  and also in the a capella group around eight, I also play the piano and love to play Tennis. In my free time I also love to go hiking.  Can’t wait to see everyone at our Hackathon.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- andre Modal -->

                        <!-- Chris Modal -->
                        <a href="#chris-modal" data-toggle="modal" data-target="#chris-modal">
                            <img class="chris" src="assets/teammembers/Finance/chris.jpg" alt="">
                        </a>
                        <div class="modal fade" id="chris-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chris Shen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! I’m Chris and I’m one of the directors of hackPHS, focusing primarily on the finance end of the hackathon. This is my third year with hackPHS and my second year directing it! Outside of hackPHS, you can catch me playing golf, editing our school’s newspaper, and leading the debate team. I’m also a major fan of “The Good Place” so you can find me at any point to talk about anything Eleanor, Chidi, or Janet(s) related. You might even get some afterlife points by coming to hackPHS! Stoked to meet all of you in November!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chris Modal -->
                        
                        <!-- christina Modal -->
                        <a href="#christina-modal" data-toggle="modal" data-target="#christina-modal">
                            <img class="christina" src="assets/teammembers/Finance/christina.jpg" alt="">
                        </a>
                        <div class="modal fade" id="christina-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Christina Hu</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hello everyone! My name is Christina and I’m a rising senior. This will be my second year on the Finance team. Aside from hackPHS, I’m involved with SiSTEM and PHS Researcher. I like taking long walks with my little sister, listening to podcasts of multiple genres, and avidly cleaning everything from laundry machines to kitchens. If Phantom of the Opera, Christopher Nolan, or soundtrack music have any interest to you, come find me for some good times :D Enjoy your hackathon!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- christina Modal -->

                        <!-- Debolina Modal -->
                        <a href="#debolina-modal" data-toggle="modal" data-target="#debolina-modal">
                            <img class="debolina" src="assets/teammembers/Finance/Debolina.jpg" alt="">
                        </a>
                        <div class="modal fade" id="debolina-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Debolina Sen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hello! I’m Debolina and this is my first year as an organizer for hackPHS. I’m on the finance team, and looking forward to this 24 hour hackathon. Apart from hackPHS, you can probably find me in a boat at mercer lake as a part of the rowing team. My other hobbies include playing guitar and drums, baking, Netflix, and reading. I look forward to meeting all of you at hackPHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Debolina Modal -->

                        <!-- philip Modal -->
                        <a href="#philip-modal" data-toggle="modal" data-target="#philip-modal">
                            <img class="philip" src="assets/teammembers/Finance/philip.jpg" alt="">
                        </a>
                        <div class="modal fade" id="philip-modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Philip Yan</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        Hi! I’m Phillip, and I’m a senior at PHS. This is my third year working with the Finance team and I’m excited to see everyone this November! Outside of hackPHS, I play trumpet in the band program and I’m an officer in the PHS Model UN club. In my free time, I’m an avid photographer and drone videographer (If you ever need any photo or video work done, I’d be glad to help!)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- philip Modal -->

                    </div>
                </div>
            </div>

        </div>
        <!-- Finance -->

    </div>

    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>