.card{
    padding-bottom: 30px;
}

div.card-body{
    padding: 5px;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.steve{
    object-position: 50% 80%;
}


.connor{
    object-position: 50% 40%;
}

.arunima{
    object-position: 10% 20%;
}

.julie{
    object-position: 10% 20%;
}

.emily{
    object-position: 10% 20%;
}

.frankie{
    object-position: 80% 50%;
}