.big-wrapper{
    text-align: center;
}

.sponsors-section{
    scroll-margin-top: 93px;
}

h1{
    font-size: 11vw;
}

img{
    margin: 40px;
    width: 50%;
    height: auto; 
}

.block{
    display: block;
    width: 100vw;
}

.images-med{
    display: inline-block;
    max-width: 25%;
}

.images-lg{
    display: inline-block;
    max-width: 200%;
}

.images-sm{
    display: inline-block;
    max-width: 20%;
}