<div class="sponsors-section big-wrapper" id="sponsors-section">
    <h1>Sponsors</h1>
    
    <div class="sponsor-images">
        
        <div class="block">
            <!-- PharmaNest-->
            <a href="http://www.fibronest.com/">
                <img class="images-lg" src="/assets/sponsor-logos/pharmanest.svg">
            </a>
        </div>

        <div class="block">
            <!-- McCaffery - Hyper -->
            <a href="https://mccaffreys.com/">
                <img class="images-med" src="/assets/sponsor-logos/mcaffery.png" alt="">
            </a>
            <a href="https://www.hyperxgaming.com/unitedstates/us">
                <img class="images-med" src="/assets/sponsor-logos/hyper.png" alt="">
            </a>
        </div>

        <div class="block">
            <!-- MathPix -->
            <a href="https://mathpix.com/">
                <img class="images-med" src="/assets/sponsor-logos/mathpix.png" alt="">
            </a>
            <!-- Sticker Giant -->
            <a href="https://www.stickergiant.com/">
                <img class="images-med" src="/assets/sponsor-logos/sticker.png" alt="">
            </a>
        </div>
        

        <div class="block">
            <!-- Digital Ocean - Product Hunt -->

            <a href="https://www.digitalocean.com/">
                <img class="images-sm" src="/assets/sponsor-logos/digitalocean.svg" alt="">
            </a>
            <a href="https://www.producthunt.com/">
                <img class="images-sm" src="/assets/sponsor-logos/producthunt.png" alt="">
            </a>
        </div>

        <div class="block">
            <!-- Voiceflow - Wolfram Alpha -->

            <a href="https://www.voiceflow.com/">
                <img class="images-smaller" src="/assets/sponsor-logos/voiceflow.png" alt="">
            </a>
            <a href="https://www.wolframalpha.com/">
                <img class="images-smaller" src="/assets/sponsor-logos/wolfram.png" alt="">
            </a>
        </div>

        <div class="block">
            <!-- AOPS -->
            <a href="https://artofproblemsolving.com/company">
                <img class="images-sm" src="/assets/sponsor-logos/aops.svg" alt="">
            </a>
        </div>

    </div>
</div>
