<div class="sponsors-section big-wrapper" id="sponsors-section">
    <h1>Sponsors</h1>
    
    <div class="sponsor-images">
        
        <div class="block">
            <!-- PharmaNest-->
            <img class="images-lg" src="/assets/sponsor-logos/pharmanest.png" alt="">
        </div>

        <div class="block">
            <!-- McCaffery - Hyper -->
            <img class="images-med" src="/assets/sponsor-logos/mcaffery.png" alt="">
            <img class="images-med" src="/assets/sponsor-logos/hyper.png" alt="">
        </div>

        <div class="block">
            <!-- MathPix -->
            <img class="images-med" src="/assets/sponsor-logos/mathpix.png" alt="">
        </div>
        

        <div class="block">
            <!-- Digital Ocean - Product Hunt -->

            <img class="images-sm" src="/assets/sponsor-logos/digitalocean.svg" alt="">
            <img class="images-sm" src="/assets/sponsor-logos/producthunt.png" alt="">
        </div>


    </div>
</div>
